<h2>Trip Details Page</h2>

<p>
  Driver ID: <%= @trip.driver_id %>
</p>
<p>
  Passenger ID: <%= @trip.passenger_id %>
</p>
<p>
  Date: <%= @trip.date %>
</p>
<p>
  Rating: <%= @trip.rating %>
</p>
<p>
  Cost: <%= @trip.cost %>
</p>
