<h1>Welcome to the Driver List</h1>

<ul>
  <% @drivers.each do |driver| %>
    <li>
      <h3>
        <%= link_to driver.name, driver_path(driver) %>
      </h3>
      <p>
      <strong>VIN: </strong> <%= driver.vin %>
      </p>
      <% if !driver.car_make.nil?%>
      <p>
      <strong>Car Make:</strong> <%= driver.car_make %>
      </p>
      <% end %>
      <% unless driver.car_model == "" || driver.car_model == nil%>
      <p>
      <strong>Car Model:</strong> <%= driver.car_model %>
      </p>
      <% end %>
      <%= link_to "Edit", edit_driver_path(driver) %>
      <%= link_to "Delete", driver_path(driver), method: :delete, data: { confirm: "Really really?" } %>
    </li>
  <% end %>
</ul>