<h2>Driver Details Page</h2>

<p>
  Name: <%= @driver.name %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>
<% unless @driver.car_make == "" || @driver.car_make == nil %>
<p>
  Car Make: <%= @driver.car_make %>
</p>
<% end %>
<%  unless @driver.car_model == "" || @driver.car_model == nil%>
<p>
  Car Model: <%= @driver.car_model %>
</p>
<% end %>
<p>
  Total Earnings: $<%= @driver.total_earnings.round(2) %>
</p>
<p>
  Average Rating: <%= @driver.average_rating.round(2)%>
</p>

<% if @driver.deleted %>
 <p class="retired" > Driver Retired </p>
<% elsif @driver.available == true%>
<p class="offline-button"> <%= link_to "Go Offline", driver_availability_path(@driver), method: :post%> </p>
<% else %>
<p class="online-button"><%= link_to "Go Online", driver_availability_path(@driver), method: :post%> </p>
<% end %>


<h2><%= @driver.name %>'s Trips</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Passenger</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>
  <% @driver.trips.each do |t| %>
  <tr>
  <td><%= link_to t.id, trip_path(t) %></td>
  <td><%= t.date%></td>
  <td>
  <% if !t.passenger.nil?%>
   <%= link_to t.passenger.name, passenger_path(t.passenger)%>
    <% else %>
    Deleted Passenger
  <% end %>
  </td>
  <td>$<%= to_dollars(t.cost) %> </td>
  <td><%= t.rating%></td>
  </tr>
  <% end %>
</table>
<%= link_to "Edit Driver", edit_driver_path(@driver)%> <%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" } %>


