<h2>Driver Details Page</h2>

<p>
  Name: <%= @driver.name %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>
<p>
  Car Make: <%= @driver.car_make %>
</p>
<p>
  Car Model: <%= @driver.car_model %>
</p>
<p>
  Total Earnings: $<%= @driver.total_earnings.round(2) %>
</p>
<p>
  Average Rating: <%= @driver.average_rating.round(2)%>
</p>

<h2><%= @driver.name %>'s Trips</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>
  <% @driver.trips.each do |t| %>
  <tr>
  <td><%= link_to t.id, trip_path(t) %></td>
  <td><%= t.date%></td>
  <td>
  <% if !t.driver.nil?%>
  <%= link_to t.driver.name, driver_path(t.driver)%>
  <% else %>
    Deleted Driver
  <% end %>
  <td>
  <% if !t.passenger.nil?%>
   <%= link_to t.passenger.name, passenger_path(t.passenger)%>
    <% else %>
    Deleted Passenger
  <% end %>
  </td>
  <td>$<%= t.cost%> </td>
  <td><%= t.rating%></td>
  </tr>
  <% end %>
</table>
<%= link_to "Edit Driver", edit_driver_path(@driver)%> <%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: { confirm: "Really really?" } %>


